.matrix-edit-mode {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.6);
    border-radius: 35px;
    padding: 10px;
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.done-button {
    cursor: pointer;
    color: blue; /* Font color blue */
    background-color: white; /* Background color white */
    transition: color 0.1s ease, background-color 0.3s ease; /* Smooth transition for color and background color change */
    border: 1px solid blue; /* Add border to match font color */
    padding: 3px 8px; /* Add some padding for better appearance */
    border-radius: 5px; /* Add border radius for rounded corners */
}

.done-button:hover {
    color: white; /* Font color white on hover */
    background-color: blue; /* Background color blue on hover */
}

.edit-matrix input {
    border: none; /* Remove border */
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2); /* Add weak shadow box */
}


.matrix-edit-header {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Aligns items to the left */
    width: 100%;
    margin-bottom: 10px;
}

.matrix-edit-name {
    font-weight: bold;
    margin-right: 20px; /* Adds space between name and matrix-edit */
}

.matrix-edit {
    border-radius: 10px; /* this only rounds the div (and box), not the border */
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.matrix-edit td {
    width: auto; /* Adjust width automatically */
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.matrix-edit td input {
    width: auto; /* Adjust width automatically */
    height: 100%; /* Match the height of the td */
    text-align: center;
    border: none; /* Remove border */
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2); /* Add weak shadow box */
    padding: 0 5px; /* Add some padding */
}

.matrix-edit-w-dim {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}