.matrix-edit-mode {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.matrix-header {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Aligns items to the left */
    width: 100%;
    margin-bottom: 10px;
}

.matrix-name {
    font-weight: bold;
    margin-right: 20px; /* Adds space between name and matrix */
}

.matrix {
    border: 1px solid black;
    border-radius: 5px;
    border-collapse: collapse;
}

.matrix td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.done-button {
    cursor: pointer;
    color: #007bff;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;

    margin-left: auto;
    margin-right: auto;
}

.done-button:hover {
    /* background-color: #0056b3; */
    background-color: white;
    color: #007bff;
}

.dimensions input {
    width: 50px;
    margin-right: 10px;
    border: none;
    background-color: #dbdbdb;
    border-radius: 5px;
    padding: 5px;
}

.x {
    margin-right: 10px;
    padding: 5px;
}

.left {
    text-align: right;
}

.right {
    text-align: left;
}