.full-matrix {
    position: relative; /* Add this to position the delete button */
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 35px;
    margin-bottom: 20px;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px; /* Position the button in the upper right corner */
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    padding: 5px; /* Add some padding around the button */
}

.matrix-header {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Aligns items to the left */
    width: calc(100% - 20px); /* Adjust width to account for delete button */
    margin-bottom: 10px;
    margin-right: 20px; /* Reduce margin-right to create appropriate space */
}

.matrix-name {
    font-weight: bold;
    margin-right: 20px; /* Adds space between name and matrix */
    white-space: nowrap; /* Prevents the name from being cut off */
}

.matrix {
    border-radius: 10px; /* this only rounds the div (and box), not the border */
    box-shadow: 0 0 1px rgba(0, 0, 0, 1);
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: auto; /* Ensure the matrix table takes up available space */
}

.matrix td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.matrix-something-button {
    cursor: pointer;
    color: blue; /* Font color blue */
    background-color: white; /* Background color white */
    transition: color 0.1s ease, background-color 0.3s ease; /* Smooth transition for color and background color change */
    border: 1px solid blue; /* Add border to match font color */
    padding: 3px 8px; /* Add some padding for better appearance */
    border-radius: 5px; /* Add border radius for rounded corners */
}

.matrix-something-button:hover {
    color: white; /* Font color white on hover */
    background-color: blue; /* Background color blue on hover */
}

.matrix-w-dim {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    width: 100%; /* Ensure the matrix container takes up available space */
}